body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background:#f4f6fb;
    transition:0.3s;
}

header{
    background:#065f46;
    color:white;
    padding:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow:0 3px 8px rgba(0,0,0,0.2);
}

#title{
    font-size:20px;
    font-weight:bold;
}

button{
    cursor:pointer;
}

.card{
    background:white;
    margin:15px;
    padding:18px;
    border-radius:14px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    font-size:16px;
    font-weight:600;
    transition:0.2s;
}

.card:hover{
    transform:scale(1.02);
}

.fab{
    position:fixed;
    bottom:25px;
    right:25px;
    width:60px;
    height:60px;
    border-radius:50%;
    background:#22c55e;
    color:white;
    font-size:28px;
    border:none;
    box-shadow:0 6px 18px rgba(0,0,0,0.3);
    transition:0.3s;
}

.fab:hover{
    transform:scale(1.1);
}

.admin-active{
    background:green !important;
    color:white !important;
}

.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#1f1f1f;
    color:white;
}

.dark header{
    background:#000;
}
header{
    background:#1e3a8a;
    color:white;
    padding:12px 10px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header-center{
    text-align:center;
}

.college-name{
    font-size:22px;
    font-weight:900;
    background:linear-gradient(90deg,#facc15,#5AFF00);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    letter-spacing:1px;
}

#title{
    font-size:15px;
    font-weight:600;
}

.header-right{
    display:flex;
    gap:8px;
}
#backBtn{
    font-size:22px;
    width:45px;
    height:45px;
    border-radius:10px;
    border:none;
    background:white;
    color:#065F46;
    cursor:pointer;
    box-shadow:0 3px 6px rgba(0,0,0,0.2);
}
body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

#app{
    flex:1;
}

footer{
    text-align:center;
    padding:15px;
    font-size:14px;
    background:#1e3a8a;
    color:white;
}
